<h1>Listing wish_lists</h1>

<table>
  <table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @wish_lists.each do |wish_list| %>
  <tr>
    <td><%= wish_list.title %></td>
    <td><%= wish_list.description %></td>
    <td><%= link_to 'Items', wish_list_items_path(wish_list) %></td>
    <td><%= link_to 'Edit', edit_wish_list_path(wish_list) %></td>
    <td><%= link_to 'Delete', wish_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wish list', new_wish_list_path, :class => "btn" %>
