<h1>Wish Lists</h1>

<table>
  <table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <% if can_edit_wish_list? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>



<% @wish_lists.each do |wish_list| %>
  <tr>
    <td><%= link_to wish_list.title, user_wish_list_items_path(@user, wish_list) %></td>
    <td><%= wish_list.description %></td>
    <% if can_edit_wish_list? %>
      <td><%= link_to 'Edit Wish List', edit_wish_list_path(wish_list) %></td>
      <td><%= link_to 'Delete Wishlist', wish_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can_edit_wish_list? %>
  <%= link_to 'New Wish List', new_wish_list_path, :class => "btn" %>
<% end %>

<%= paginate @wish_lists %>


