<h1><%= @wish_list.title %> Items</h1>

<table class="table">
<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Link</th>
    <th>Cost</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.title, wish_list_item_path(@wish_list, item) %></td>
    <td><%= item.description %></td>
    <td>
      <% if item.link != "http://" %>
        <%= link_to truncate(item.link), item.link, :target => '_blank' %>
      <% end %>
    </td>
    <td><%= number_to_currency(item.cost) %></td>
    <td>
      <% if item.image.nil? %>
        <span class="badge badge-important">No</span>
      <% else %>
        <span class="badge badge-success">Yes</span>
      <% end %>
    </td>
    <td><%= link_to 'Edit', edit_wish_list_item_path(@wish_list, item) %></td>
    <td><%= link_to 'Delete', wish_list_item_path(@wish_list, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<!-- change new_item_path to new_wish_list_item_path -->

<%= link_to 'New Item', new_wish_list_item_path(@wish_list), :class => "btn" %>
