<h1><%= @wish_list.title %></h1>
<p>
  <% if can_edit_wish_list? %>
    <%= link_to 'New Item', new_wish_list_item_path(@wish_list), :class => "btn btn-primary" %>
    <% else %>
    <%= link_to 'Back to Wishlists', user_wish_lists_path(@user) , :class => "btn btn-primary" %>
  <% end %>
<p>



    <% @items.each do |item| %>
    <div class="items-grid">
        <% if item.image.present? %>
             <img src="<%= item.image %>">
          <% else %>
              no image
          <% end %>

          <p><b>Item:</b> <%= link_to item.title, user_wish_list_item_path(@user, @wish_list, item) %></p>

          <p><b>Description:</b> <%= item.description %></p>

          <p><b>Link:</b> <% if item.link != "http://" %>
                            <%= link_to truncate(item.link), item.link, :target => '_blank' %>
                          <% end %></p>

          <p><b>Cost:</b> <%= number_to_currency(item.cost) %></p>

          <p><b>Purchased?</b> <input type="checkbox" id="optionsCheckbox" value="option1">






         <% if can_edit_wish_list? %>
         <%= link_to 'Edit', edit_wish_list_item_path(@wish_list, item), :class => "btn-primary btn-small" %>
         <%= link_to 'Delete', wish_list_item_path(@wish_list, item), method: :delete,
                                                        data: { confirm: 'Are you sure?' }, :class => "btn-primary btn-small" %>
        </div>
      <% end %>
    <% end %>
  <br />





<%= paginate @items %>



