<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<% if @item.link != "http://" %>
  <p>
    <b>Link:</b>
    <a href="<%= @item.link %>", target="_blank"><%= @item.link %></a>
  </p>
<% end %>

<p>
  <b>Cost:</b>
  <%= number_to_currency(@item.cost) %>
</p>

<p>
  <b>Image:</b>
  <% if @item.image.present? %>
      <img src="<%= @item.image %>">
  <% else %>
      no image
      <% if @item.link != "http://" %>
        <%= link_to "choose image", new_wish_list_item_image_path(@wish_list, @item) %>
      <% end %>
  <% end %>
</p>

<br />
<%= link_to 'Edit Item', edit_wish_list_item_path(@wish_list, @item) %> |
<%= link_to "Back to #{@wish_list.title}", wish_list_items_path(@wish_list) %>
