<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Link:</b>
  <a href="<%= @item.link %>", target="_blank"><%= @item.link %></a>
</p>

<p>
  <b>Cost:</b>
  <%= @item.cost %>
</p>

<p>
  <b>Image:</b>
  <% if @item.image.present? %>
    <img src="<%= @item.image %>"> 
    <%= link_to "choose image", new_wish_list_item_image_path(@wish_list, @item) %>
  <% elsif @item.link.present? %>
    <%= link_to "choose image", new_wish_list_item_image_path(@wish_list, @item) %>
  <% else %>
    no image
  <% end %>
</p>


<%= link_to 'Edit', edit_wish_list_item_path(@wish_list, @item) %> |
<%= link_to 'Back', wish_list_items_path(@wish_list) %>
