<!DOCTYPE html>
<html>
<head>
  <title>Wishlist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/cosmo/bootstrap.min.css" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

     <a class="brand" href="/">Wishlist</a>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
            <li><%= link_to "Profile", user_profile_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to image_tag("icons/facebook_32.png"),
                            user_omniauth_authorize_path(:facebook),
                            :id => "sign_in_with_facebook",
                            title: "Sign in with Facebook" %></li>
          <% end %>
      </ul>
    </div>
  </div>
</div>


  <div class="container">
    <div class="row">
      <% flash.each do |key, value| %>
        <div class="alert <%= alert_class(key) %>">
          <a class="close" data-dismiss="alert">x</a>
          <%= value %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>

  <footer>
    <div class="container">
      <% if user_signed_in? %>
          Signed in as <%= current_user.email %>
      <% end %>
    </div>
  </footer>
</body>
</html>
